<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LocalStoragePath" value="D:\test\autouploader\localrecordedfiles"/>
    <add key="FtpServerPath" value="ftp://127.0.0.1"/>
    <add key="FtpUserId" value=""/>
    <add key="FtpPassword" value=""/>
    <add key="DbStrAddr" value="ftp://127.0.0.1/dbstr"/>
  </appSettings>
 
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
