<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <!--Access文件路径-->
    <add key="DbFilePath" value="D:\test\autouploader\localrecordedfiles\ccdb.access"/>
    <!--间隔时长.单位:分-->
    <add key="InteralDuration" value="5"/>
    <!--access文件密码. 如果没有密码则留空-->
    <add key="AccessPwd" value="EAAAADD3m7YeRuGgXeob2Gw5aBKQP9q2UCjjmvK9Fo05UoHq7OxCLIhkh0kTio2zCEYD25Vomfkx5jzv6PjS4zbaPiYw9+n6HR4sQwQwhUuPIH8ToVLHCmLXcZjSETBg0JOprt3j1c+CO0kQQFG33/ZUc+M2NhbqbaucB0U8Cuqci2WZq4DvN4oT5e/SyOfAJyIkQIY9TING96g0tALHCnQ5SQYmEnG54P12llC/N3S8Ha6qAm1xI0e4zJvtAJz6oz36fQ=="/>
  </appSettings>

</configuration>