<?xml version="1.0"?>
<configuration>
  <appSettings>
   <!--Access文件路径-->
    <add key="DbFilePath" value="D:\test\autouploader\TmCall.mdb"/>
    <!--socket服务器ip地址-->
    <add key="ServerIP" value="127.0.0.1"/>
    <!--日志文件存放路径:请确保程序有写入权限-->
  </appSettings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
