<?xml version="1.0"?>
<configuration>
  <appSettings>
  <!--Access文件路径-->
    <add key="DbFilePath" value="D:\test\autouploader\TmCall.mdb"/>
    <!--间隔时长.单位:分-->
    <add key="InteralDuration" value="1"/>
    <!--access文件密码. 如果没有密码则留空-->
    <add key="AccessPwd" value="EAAAADImTZzf6o0jn+zotHVDYevrAuWRViO0YuALTakFulTG"/>
    <add key="PwdFilePath" value="http://http://localhost/dbstr.txt"/>
  </appSettings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
