<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FuSrv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LocalStoragePath" value="D:\test\autouploader\localrecordedfiles"/>
    <add key="FtpServerPath" value="ftp://192.168.11.11"/>
    <add key="FtpUserId" value=""/>
    <add key="FtpPassword" value=""/>
   
  </appSettings>
  <applicationSettings>
    <FuSrv.Properties.Settings>
      <setting name="LocalStoragePath" serializeAs="String">
        <value>D:\test\autouploader\localrecordedfiles\</value>
      </setting>
      <setting name="FtpServerPath" serializeAs="String">
        <value>ftp://192.168.11.11</value>
      </setting>
      <setting name="FtpUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value />
      </setting>
    </FuSrv.Properties.Settings>
  </applicationSettings>
</configuration>